<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.ues.fia.eisi.pedidoscafeteria">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.ubicacionCliente.ModificarUbicacion"></activity>
        <activity android:name=".ActualizarRepartidor" />
        <activity android:name=".ProductoAsignadoFinal" />
        <activity android:name=".ProductoMenuAsignar" />
        <activity android:name=".AsignarProductoMenu" />
        <activity android:name=".EliminarMenu" />
        <activity android:name=".ModificarMenu" />
        <activity android:name=".InsertarMenu" />
        <activity android:name=".ui.ubicacionCliente.SeleccionarUbicacion" />
        <activity android:name=".AsignarRepartidor" />
        <activity android:name=".ui.menuCliente.DescMenu" />
        <activity android:name=".DetallePedidoRep" />
        <activity android:name=".ui.nuevaDIreccion.agregarDireccion" />
        <activity android:name=".crearCuenta" />
        <activity android:name=".ProductoModificar" />
        <activity android:name=".ProductoEliminar" />
        <activity android:name=".ProductoIngresar" />
        <activity android:name=".ui.menuCliente.MenusLocal" />
        <activity android:name=".crearRepartidor" />
        <activity android:name=".detallePedidoEnc" />
        <activity
            android:name=".drawerEncar"
            android:label="@string/title_activity_drawer_encar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".cambiarCrede" />
        <activity android:name=".MainActivity" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>